Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonCountess
Content/ParagonDekker
Content/ParagonMinions
Content/ParagonMurdock
Content/ParagonProps
Content/ParagonSerath
Content/ParagonShinbi
Content/Reload
Content/SampleMap
Content/Weapon_Pack
Content/KiteDemo
